<section class="lbsection">
   {% if section.settings.heading!=blank %}
    <h2 class="lbheading">{{ section.settings.heading}}</h2>
   {% endif %}

   <div class="lbblocks">
    {% for block in section.blocks %}
        <div class="lbblock" {{ block.shopify_attributes }}>

            <div class="lbbanner">
                {% if block.settings.lbbanner!=blank %}
                    <img src="{{ block.settings.lbbanner | image_url }}" alt="LB Banner">
                {% endif %}
            </div>

            <div class="lbproducts">
                {% if block.settings.lbproducts!=blank %}
                    <img src="{{ block.settings.lbproducts | image_url }}" alt="LB Products">
                    <h3>{{ lbproducts.title }}</h3>
                    <p>{{ lbproducts.price | money }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</section>

<style>
    .lbsection{
        width:100%;
        max-width:1200px;
        margin:0 auto;
        padding:60px 20px;
        min-height:300px;
    }

    .lbheading{
        font-size:30px
    }
   
    /*mobile*/
    @media (max-width: 768px) {
    .lbsection {
        max-width: 100%;
        padding: 40px 16px;
        min-height: auto;
    }

    .lbheading {
        font-size: 22px;
    }
</style>

{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "section heading",
      "default": "Lookbook"
    }
  ],
  "blocks": [
    {
        "type": "item",
        "name":"lbitem",
        "settings": [
            {
                "type": "image_picker",
                "id":"lbbanner",
                "label":"lbbanner"
            },
            {
                "type": "product",
                "id":"lbproducts",
                "label":"lbProducts"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook"
    }
  ]
}
{% endschema %}